<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319920071303-k4vjihk7m9afj5sqg47r3lppvikodmnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319920071303-k4vjihk7m9afj5sqg47r3lppvikodmnf</string>
	<key>API_KEY</key>
	<string>AIzaSyAHA9eURpiRJrOlkPa3tz5c-8qSQ-jV3c4</string>
	<key>GCM_SENDER_ID</key>
	<string>319920071303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holisticdentalformulas.admin</string>
	<key>PROJECT_ID</key>
	<string>dr-h-and-co-crm</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-h-and-co-crm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319920071303:ios:a93a1c26cb99a5faed4e22</string>
</dict>
</plist>